@{
    ViewBag.Title = "About";
  
}
<link href="~/Content/GameHome.css" rel="stylesheet" />
<h1>Games Centre Home of ProBall</h1>

<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<h2>About us</h2>
<p> With the ever growing need to chill out and relax we here at Pro Ball set out to develop the worlds best gaming website. With fire in our hearts and a steely resolve we went straight to the local Spar got a packet of Amberleaf and a jar of coffee. And from that meeting, Pro Ball Was Formed. We researched various methods of gaming techniques to develop the most comprehensive gaming website to ever grace the internet.</p>
