
using Model1;
using System;
using System.Data;
using System.Data.SqlClient;
using Microsoft.AspNet.Identity;
using TeamTProject.Models;
Model AspNetUser;
   

<!-- if (Request.IsAuthenticated)-->
 
 @ViewBag.Title = "Leaderboard"; 

<html>
<head>
<title>Leaderboard</title>
    @Scripts.Render("~/bundles/modernizr");

</head>

<body>
    <link href="~/Content/GameHome.css" rel="stylesheet" />
    
    <div>
        <h1>Leaderboard</h1>
        

        
        
        
        <table width="200" border="0" align="center">
            
               <tr><th align="left" scope="col">Name</th>
                <th scope="col">Level</th></tr>
                <tr><td align="left" scope="col">Cathal</td>
                <td scope="col">30000</td></tr>
                <tr><td align="left" scope="col">Isabella</td>
                <td scope="col">56</td></tr>
                <tr><td align="left" scope="col">Ava</td>
                <td scope="col">52</td></tr>
                <tr><td align="left" scope="col">Miguel</td>
                <td scope="col">48</td></tr>
                <tr><td align="left" scope="col">Ethan</td>
                <td scope="col">44</td></tr>
                <tr><td align="left" scope="col">Sean</td>
                <td scope="col">42</td></tr>
                <tr><td align="left" scope="col">Mia</td>
                <td scope="col">40</td></tr>
                <tr><td align="left" scope="col">Liam</td>
                <td scope="col">38</td></tr>
                <tr><td align="left" scope="col">Olivia</td>
                <td scope="col">33</td></tr>
                <tr><td align="left" scope="col">Amelia</td>
                <td scope="col">22</td></tr>
            
        </table> 
        </div>
    

      <!--  <?php
        while($rows=mysqli_fetch_assoc($sql))
        {

        ?>-->
       <!-- {var q = from m in ApplicationDbContext.aspNetUsers.Take(10)
                    select m.level}-->
       <!-- public class Student
           {
               public string FirstName { get; set; }
               public string level { get; set; }
           }
           public ActionResult Students()
           {
               String connectionString = "Data Source = (LocalDb)\MSSQLLocalDB; AttachDbFilename =| DataDirectory |\aspnet - TeamTProject - 20161201030412.mdf; Initial Catalog = aspnet - TeamTProject - 20161201030412; Integrated Security = True" providerName="System.Data.SqlClient";
               String sql = "SELECT * FROM students";
               SqlCommand cmd = new SqlCommand(sql, conn);

               var model = new List<Student>();
               using (SqlConnection conn = new SqlConnection(connectionString))
               {
                   conn.Open();
                   SqlDataReader rdr = cmd.ExecuteReader();
                   while (rdr.Read())
                   {
                       var student = new Student();
                       student.FirstName = rdr["FirstName"];
                       student.LastName = rdr["LastName"];
                       student.Class = rdr["Class"];
            ....

            model.Add(student);
                   }

               }

               return View(model);
           }
       }-->
        

      <!--  <table width="200" border="0" align="center">
            <tr>
                <td width="125" align="left">Html.Raw(User.Identity.GetUserId())</td>
                <td>Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</td>
            </tr>
        </table>
    -->
</body>
</html>
    