@{
    ViewBag.Title = "ProBall Home";
}

<link href="~/Content/homePage.css" rel="stylesheet" />

<div>
    <p></p>

    <section id="slider">
        <class id="hidden-sm hiddwn-md"/>
            <class />
            <h1>Games centre home to ProBall</h1>
            <img src="~/Content/Images/galaxy.jpg" width="1116" height="336"/>
    </section>



</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Play online games</h2>
        <p>
            Action games have been scientifically proven to improve eyesight, game players tend to have better eyesight
            in two different ways, the first way is they are better able to resolve small detail in the context of clutter, the
            second way they are better is they are able to resolve different levels of grey.
        </p>
        <p><a class="btn btn-default" href="http://www.bbc.com/news/technology-11295257">More information &raquo;</a></p>
    </div>
    
    <div class="col-md-4">
       <!-- <h2>Try our games</h2> -->
        <img class="img-thumbnail imgCen" alt="photo1"> 
        <!--<img src="~/Content/Images/ballImage.jpg" />-->
    </div>
    <div class="col-md-4">
        <h2>More reasons</h2>
        <p>Based on this research Cognitive scientists and computer scientists are working on a game which has been optimised in this area for people with low vision to retrain their brain to see better. This research has proved that the belief, that spending time looking at a monitor playing a game is bad for eyesight is a myth.</p>
        <p><a class="btn btn-default" href="http://cms.unige.ch/fapse/people/bavelier/">Just click to learn more &raquo;</a></p>
    </div>
    </div>
    
