@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        
           
         @{   if (Session != null)
             {
                 Response.Redirect("https://cvan.io/DT2/");
             }
         }

        </div>
        
    </div>
</body>
</html>
