@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div>
            @{   if (Session != null)
                {
                    Response.Redirect("https://commondatastorage.googleapis.com/itchio/html/169467/Ball%20Game/index.html");
                }
            }

        </div>
        
    </div>
</body>
</html>
